Repository darlaevans2000/hi-lo, pull requests merged in 2021-09, with the labels that each got.

#2 Feature/weather display
  package-lock.json
  package.json
  src/App.tsx
  src/Components/App/App.css
  src/Components/App/App.test.tsx
  src/Components/App/App.tsx
  src/Components/Form/Form.css
  src/Components/Form/Form.tsx
  src/Components/Header/Header.css
  src/Components/Header/Header.tsx
  src/Components/HomeCityCards/HomeCityCards.css
  src/Components/HomeCityCards/HomeCityCards.tsx
  src/apiCalls.tsx
  src/index.tsx
  src/model/Weather.ts
Labels: enhancement, API, DOM

#3 Feature/expand on typescript
  src/Components/App/App.tsx
  src/Components/HomeCard/HomeCard.tsx
  src/Components/HomeCityCards/HomeCityCards.tsx
  src/apiCalls.tsx
Labels: help wanted, API

#30 Feature/five day component forecast cards
  public/index.html
  src/Components/App/App.tsx
  src/Components/FiveDayForecastCard/FiveDayForecastCard.css
  src/Components/FiveDayForecastCard/FiveDayForecastCard.tsx
  src/Components/FiveDayForecastCardContainer/FiveDayForecastCardContainer.tsx
  src/Components/HomeCityCards/HomeCityCards.tsx
  src/apiCalls.tsx
  src/model/Weather.ts
  src/utils.js
Labels: enhancement, DOM
